head
{

}

body
{
background-image: url("images_lien/pirate.jpg");
}	

h1
{
  color: greenyellow;
  font-size: 42px;
  font-family: Arial Black;
  text-align: center;
  background-color: blueviolet;
  opacity: 0.6;
}

h2
{
  color: blueviolet;
  font-size: 32px;
  font-family: Arial Black;
  text-align: center;
}

h3
{
  color: blueviolet;
  font-size: 24px;
  font-family: Arial Black;
  text-align: center;
}

p
{
  color: greenyellow;
  font-size: 18px;
  font-family: Arial Black;
  text-align: center;
}


.imga
{
  width: 185px;
  height: 185px;
  text-align:center;
}


.imgb
{
  width: 185px;
  height: 185px;
  text-align:center;
}
